<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<title>TALKABLE</title>
<meta name="description"
	content="The description should optimally be between 150-160 characters."></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="author" content="Madeon08"></meta>
<!-- Security Required -->
<meta name="_csrf" content="${_csrf.token}" />
<meta name="_csrf_header" content="${_csrf.headerName}" />
<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="img/favicon.png"></link>
<!-- Retina iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="144x144"
	href="img/favicon-retina-ipad.png"></link>
<!-- Retina iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="114x114"
	href="img/favicon-retina-iphone.png"></link>
<!-- Standard iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="72x72"
	href="img/favicon-standard-ipad.png"></link>
<!-- Standard iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="57x57"
	href="img/favicon-standard-iphone.png"></link>
<!-- ============== Resources style ============== -->
<link rel="stylesheet" th:href="@{../css/style-info.css}"></link>
<!-- Modernizr #1d1d23runs quickly on page load to detect features -->
<script src="../js/modernizr.custom.js"></script>
</head>
<body>
	<!-- Page preloader -->
	<div id="loading">
		<div id="preloader">
			<span></span> <span></span>
		</div>
	</div>
	<!-- Overlay and Star effect -->
	<div class="global-overlay"
		style="opacity: 1; transform: translateX(100%);">
		<div class="overlay">
			<div id="stars"></div>
			<div id="stars2"></div>
			<div id="stars3"></div>
		</div>
	</div>
	<!-- START - Home/Left Part -->
	<section id="left-side">
		<!-- Your logo -->
		<img src="../img/logo.png" alt="" class="brand-logo" />
		<div class="content">
			<h1 class="text-intro opacity-0">
				welcome to talkable<br />
			</h1>
			<h2 class="text-intro opacity-0">Giving people a voice!</h2>
		</div>
		<!-- Social icons -->
		<div class="social-icons">
			<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
				class="fa fa-twitter"></i></a> <a href="#"><i
				class="fa fa-google-plus"></i></a> <a href="#"><i
				class="fa fa-linkedin"></i></a>
		</div>
	</section>
	<!-- END - Home/Left Part -->
	<!-- START - More Informations/Right Part -->
	<section id="right-side">
		<div class="content">
			<h3>PROTOTYPE DEMONSTRATION</h3>
			<p>
				Hi, I'm talkable, I am a new tool designed to help you achieve and
				get more out of learning. I am quick and easy to setup and simple to
				use, so don't fret! Please have a gander below to see what Im all
				about and what I can do for you. <br /> <br /> <br />
			<h3>CONTROL PANEL</h3>
			<div class="photo-line">
				<div class="my-gallery row">
					<figure class="col-xs-12 col-sm-6 col-lg-6 clear-second">
						<figcaption>
							<div class="photo-details">
								<h4>My Account</h4>
								<span class="border"></span>
								<p>
									<!-- USER INFO -->
								<table class="myaccount">
									<tr>
										<th class="trow">
											<p th:text="${user.firstName} + ' '" style="display: inline">
											<p th:text="${user.lastName}" style="display: inline"></p>
										</th>
									</tr>
									<tr>
										<td class="trow">
											<p th:text="${user.emailAddress}"></p>
										</td>
									</tr>
									<tr>
										<td class="trow">
											<p th:text="${user.username}"></p>
										</td>
									</tr>
									<tr>
										<td class="trow">
											<p th:text="${user.passwordCloak}"></p>
										</td>
									</tr>
								</table>
							</div>
						</figcaption>
						<a th:href="@{/user/logout}"
							class="light-btn accountcard settings">EDIT ACCOUNT</a>
						<a th:href="@{/user/logout}" class="light-btn accountcard">LOGOUT</a>
					</figure>
					<!-- Item -->
					<figure class="col-xs-12 col-sm-6 col-lg-6">
						<figcaption>
							<div class="photo-details">
								<h4>My Events</h4>
								<span class="border"></span>
								<p>
								<table class="myevents">
									<tr>
										<th class="tg-yw4l">
											<p th:text="${user.eventsJoined}"
												style="display: inline; font-size: 26px; font-weight: bolder; color: #838993;"></p>
										</th>
										<td class="trow">Events Joined</td>
									</tr>
									<tr>
										<th class="tg-yw4l">
											<p th:text="${user.eventsCreated}"
												style="display: inline; font-size: 26px; font-weight: bolder; color: #838993;"></p>
										</th>
										<td class="trow">Events Created</td>
									</tr>
									<tr>
										<th class="tg-yw4l">
											<p th:text="${user.messagesSent}"
												style="display: inline; font-size: 26px; font-weight: bolder; color: #838993;"></p>
										</th>
										<td class="trow">Posts made</td>
									</tr>
								</table>
							</div>
						</figcaption>
						<a class="light-btn eventcard join" id="joinbutton_">JOIN
							EVENT</a>
						<!-- HIDDEN DIV -->
						<p class="TCS" id="joinbox_">
							<input type="text" style="" name="checkeventid_"
								placeholder="Event ID"></input>
							<button class="btn btn-default" id="checkevent_">GO</button>
						</p>
						<div class="spinner" id="spinner">
							<div class="rect1"></div>
							<div class="rect2"></div>
							<div class="rect3"></div>
							<div class="rect4"></div>
							<div class="rect5"></div>
						</div>
						<div class="eventerror" id="eventerror"></div>
						<!--  HIDDEN DIV -->
						<a data-dialog="eventCreateDialog" onClick="eventid()"
							class="light-btn eventcard">CREATE EVENT</a>
						<a class="light-btn eventcard log" th:href="@{/user/log}">EVENT
							LOGS</a>
					</figure>
				</div>
				<h3 style="display: inline">There are currently</h3>
				<h3 th:text="${eventsOnlineCount}" style="display: inline"></h3>
				<h3 style="display: inline">active events right now!</h3>
			</div>
			<span class="separator"></span>
			<h3>Get in touch with us!</h3>
			<p>Hi there, Wanna say hello? Feel free to contact the developers
				of this website if you have any questions. Alternatively you can
				contact me at any of the other points of call listed below.</p>
			<!-- START - Contact Form -->
			<form id="contact-form" name="contact-form" method="POST"
				data-name="@{Contact Form}">
				<div class="row">
					<!-- Full name -->
					<div class="col-xs-12 col-sm-6 col-lg-6">
						<div class="form-group">
							<input type="text" id="name" class="form form-control"
								placeholder="Your Name" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Your Name'" name="name"
								data-name="Name" required="required" />
						</div>
					</div>
					<!-- E-mail -->
					<div class="col-xs-12 col-sm-6 col-lg-6">
						<div class="form-group">
							<input type="email" id="email" class="form form-control"
								placeholder="Your Email" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Your Email'" name="email-address"
								data-name="Email Address" required="required" />
						</div>
					</div>
					<!-- Subject -->
					<div class="col-xs-12 col-sm-12 col-lg-12">
						<div class="form-group">
							<input type="text" id="subject" class="form form-control"
								placeholder="Write the subject" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Write the subject'" name="subject"
								data-name="Subject" />
						</div>
					</div>
					<!-- Message -->
					<div class="col-xs-12 col-sm-12 col-lg-12 no-padding">
						<div class="form-group">
							<textarea id="text-area" class="form textarea form-control"
								placeholder="Your message here... 20 characters Min."
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Your message here... 20 characters Min.'"
								name="message" data-name="Text Area" required="required"></textarea>
						</div>
					</div>
				</div>
				<!-- Button submit -->
				<button type="submit" id="valid-form" class="btn btn-color">Send
					my Message</button>
			</form>
			<!-- END - Contact Form -->
			<!-- Answer for the contact form is displayed in the next div, do not remove it. -->
			<div id="block-answer">
				<div id="answer"></div>
			</div>
			<div class="info-contact row">
				<div class="col-xs-12 col-sm-4 col-lg-4 item-map">
					<div class="contact-item">
						<i class="icon ion-ios-telephone"></i>
						<p>
							Phone: (+44) 7403153749 <br />Fax: (+44) 123456789
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-lg-4 item-map">
					<div class="contact-item">
						<i class="icon ion-ios-location"></i>
						<p>
							Mayors Walk, <br />LE2 LEICESTER, UK
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-lg-4 item-map">
					<div class="contact-item">
						<i class="icon ion-ios-email"></i>
						<p>
							<a href="mailto:your-email@good.com">bm234@student.le.ac.uk</a> <br />
							<a href="mailto:your-email-pro@good.com">benmeysner@outlook.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /. Content -->
		<footer>
			<p>© TALKABLE - BENJAMIN THOMAS MEYSNER - UNIVERSITY OF LEICESTER</p>
		</footer>
	</section>
	<!-- START - More Informations/Right Part -->
	<!-- Button Cross to close the More Informations/Right Part -->
	<button id="close-more-info" class="hide-close">
		<i class="icon ion-ios-close-outline"></i>
	</button>
	<!-- Button Cross to close the More Informations/Right Part -->
	<button id="close-more-info" class="hide-close">
		<i class="icon ion-ios-close-outline"></i>
	</button>
	<!-- LOGIN POPUP -->
	<div id="eventCreateDialog" class="dialog">
		<div class="dialog__overlay"></div>
		<div class="dialog__overlay"></div>
		<div class="dialog__content">
			<div class="dialog-inner">
				<h4>Quick start</h4>
				<p>
					<strong>Event Code: </strong>
				<p id="eventId" class="eventId"></p>
				<p th:text="${currentDate}"></p>
				<!-- Newsletter Form -->
				<div id="subscribe">
					<form action="#" th:action="@{/event/new}" th:object="${event}"
						id="notifyMe" method="POST" role="form">
						<div class="form-group">
							<div class="controls">
								<!-- Field  -->
								<input type="text" th:field="*{eventTitle}" id="title"
									name="title" placeholder="Enter event title"
									onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Click here to write the event title'"
									class="form-control email srequiredField" /> <input
									type="text" th:field="*{eventDescription}" id="description"
									name="description" placeholder="Enter event description"
									onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Click here to write an event description'"
									class="form-control email srequiredField" /> <input
									type="hidden" th:field="*{id}" id="id" name="id" />
								<!-- Spinner top left during the submission -->
								<i class="fa fa-spinner opacity-0"></i>
								<!-- Button -->
								<button class="btn btn-lg submit">LET'S GO LIVE</button>
								<div class="clear"></div>
							</div>
						</div>
					</form>
					<!-- Answer for the newsletter form is displayed in the next div, do not remove it. -->
					<div class="block-message">
						<div class="message">
							<p class="notify-valid"></p>
						</div>
					</div>
				</div>
				<!-- /. Newsletter Form -->
			</div>
			<!-- /. dialog-inner -->
			<!-- Button Cross to close the Newsletter Popup -->
			<button class="close-newsletter" data-dialog-close="">
				<i class="icon ion-close-round"></i>
			</button>
		</div>
		<!-- /. dialog__content -->
	</div>
	<!--  END LOGIN POPUP -->
	<!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
	<!-- ********** Resources jQuery ********** -->
	<!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->
	<!-- * Libraries jQuery, Easing and Bootstrap - Be careful to not remove them * -->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery.easings.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<!-- Unique Event ID Generator -->
	<script src="../js/eventIdGenerator.js"></script>
	<!-- AJAX login plugin -->
	<script src="../js/login.js"></script>
	<!-- PhotoSwipe Core JS file -->
	<script src="../js/velocity.min.js"></script>
	<!-- PhotoSwipe UI JS file -->
	<script src="../js/velocity.ui.min.js"></script>
	<!-- Newsletter plugin -->
	<script src="../js/notifyMe.js"></script>
	<!-- Scroll plugin -->
	<script src="../js/jquery.mousewheel.js"></script>
	<!-- Custom Scrollbar plugin -->
	<script src="../js/jquery.mCustomScrollbar.js"></script>
	<!-- Popup Newsletter Form -->
	<script src="../js/classie.js"></script>
	<script src="../js/dialogFx.js"></script>
	<!-- Main JS File -->
	<script src="../js/main.js"></script>
	<!-- Join Box Toggle -->
	<script>
		$("#joinbutton_").click(function() {
			$("#joinbox_").slideToggle();
			$("#eventerror").slideToggle();
		});
	</script>
	<!-- Join Event AJAX -->
	<script>
		$(document)
				.ready(
						function() {
							$('#checkevent_')
									.click(
											function() {
												var checkeventid_ = $('input[name="checkeventid_"]')[0].value;
												$('#checkevent_').hide();
												$('#eventerror').hide();
												$('#spinner').show();
												$
														.ajax({
															url : '/event/checkevent',
															data : {
																eventid : JSON
																		.stringify(checkeventid_)
															},
															dataType : "json",
															type : "GET",
															success : function(
																	response) {
																$('#spinner')
																		.show();
																if (response['alive'] == false) {
																	setTimeout(
																			function() {
																				$(
																						'#spinner')
																						.hide();
																				$(
																						'#checkevent_')
																						.show();
																				$(
																						'#eventerror')
																						.html(
																								'Cannot join event, event has finished and is therefore no longer available. '
																										+ 'Contact the event orgonisor if you think this is in error.'
																										+ '<br/><br/>');
																				$(
																						'#eventerror')
																						.show();
																			},
																			2000);
																} else {
																	$(
																			'#spinner')
																			.show();
																	setTimeout(
																			function() {
																				$(
																						'#spinner')
																						.hide();
																				$(
																						'#checkevent_')
																						.show();
																				$(
																						location)
																						.attr(
																								'href',
																								'/event/'
																										+ checkeventid_);
																			},
																			2000);
																}
															},
															error : function() {
																setTimeout(
																		function() {
																			$(
																					'#spinner')
																					.hide();
																			$(
																					'#checkevent_')
																					.show();
																			$(
																					'#eventerror')
																					.html(
																							'No event found with that ID, please contact the event orgonisor if you '
																									+ 'are having persistent issues connecting to the event. '
																									+ '<br/><br/>');
																			$(
																					'#eventerror')
																					.show();
																		}, 2000);
															}
														})
											});
						});
	</script>
	<!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
</body>
</html>