<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<title>TALKABLE</title>
<meta name="description"
	content="The description should optimally be between 150-160 characters."></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="author" content="Madeon08"></meta>
<!-- Security Required -->
<meta name="_csrf" content="${_csrf.token}" />
<meta name="_csrf_header" content="${_csrf.headerName}" />

<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="img/favicon.png"></link>
<!-- Retina iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="144x144"
	href="img/favicon-retina-ipad.png"></link>
<!-- Retina iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="114x114"
	href="img/favicon-retina-iphone.png"></link>
<!-- Standard iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="72x72"
	href="img/favicon-standard-ipad.png"></link>
<!-- Standard iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="57x57"
	href="img/favicon-standard-iphone.png"></link>

<!-- ============== Resources style ============== -->
<link rel="stylesheet" th:href="@{css/style-login.css}"></link>

<!-- Modernizr #1d1d23runs quickly on page load to detect features -->
<script src="js/modernizr.custom.js"></script>
</head>

<body class="align">

	<!-- Page preloader -->
	<div id="loading" class="" style="opacity: 0; display: none;">
		<div id="preloader" class="" style="opacity: 0;">
			<span></span> <span></span>
		</div>
	</div>

	<div class="wrapper">

		<h1 class="text-intro opacity-0">
			Hey Guys!<br /> We're Coming Soon...
		</h1>

		<div class="row">
			<div class="login-header">
				<b>talkable</b>:login
			</div>
		</div>



		<div class="form-signin animated tada">

			<form id="contact-form" th:action="@{/user/login}" method="POST" autocomplete="false">

				<div class="row">
					<!-- Full name -->
					<div class="col-xs-12 col-sm-6 col-lg-6">
						<div class="form-group">
							<input type="text" id="username" name="username"
								class="form form-control" placeholder="U.Name OR Email"
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Email'" autocomplete="false" />
							<div class="help-block with-errors"></div>
						</div>
					</div>

					<!-- E-mail -->
					<div class="col-xs-12 col-sm-6 col-lg-6">
						<div class="form-group">
							<input type="password" id="password" name="password"
								class="form form-control" placeholder="Password"
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Password'" autocomplete="false"
								data-name="pword" />
							<div class="help-block with-errors"></div>
						</div>
					</div>
				</div>

				<br>
				<p class="TCS">
					If you do not have an account already you can click <a
						href="/register">here</a> to register
				</p>
				<br>
				<div class="linebox" th:if="${loginError} != null">
					<div class="help-block with-errors fade in" role="alert">
						<i class="fa fa-exclamation errors" aria-hidden="true"></i> <p class="errors" th:text="${loginError}"/>
					</div>
				</div>
				<br>

				<!-- Button submit -->
				<button type="submit" id="valid-form" class="btn btn-color">Login</button>

			</form>
		</div>
		<footer>
			<p class="text-intro animated tada">© TALKABLE - BENJAMIN THOMAS
				MEYSNER</p>
		</footer>
	</div>



	<!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
	<!-- ********** Resources jQuery ********** -->
	<!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->

	<!-- * Libraries jQuery, Easing and Bootstrap - Be careful to not remove them * -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.easings.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->


</body>
</html>